# Nuxt & Build
.nuxt/
.output/
dist/
node_modules/

# Env-Dateien
.env
.env.*
!.env.example

# Editor & OS
.idea/
.vscode/
*.DS_Store

# GROSSE ORDNER & ZIPS AUSSCHLIESSEN
public/images/
media-originals/
assets/
*.zip
# GROSSE ORDNER
public/videos/

# Zips und anderes
*.webm
*.mp4
*.jpeg
*.jpg
*.png
*.webp
