# Nuxt Build Output
.nuxt/
.output/
dist/
node_modules/

# Env-Konfig
.env
.env.*
!.env.example

# IDE & System-Dateien
.idea/
.vscode/
*.DS_Store
Thumbs.db

# Medienspeicher (große Assets vermeiden)
media-originals/
public/videos/
public/images/
assets/

# Große Dateitypen (damit du nicht versehentlich MOVs, Videos oder RAWs pushst)
*.zip
*.webm
*.mp4
*.mov
*.avi
*.mkv
*.flac
*.psd
*.xcf
*.ai
*.eps
*.ttf
*.otf
*.woff
*.woff2

# Sicherheitsmaßnahmen für Preview-Dateien & Cache
.DS_Store
*.log
*.swp
*.tmp
npm-debug.log*

# Optional: Git intern (z. B. temporäre Commit-Objekte)
.git/modules/
